# SEGMENTING AND CLUSTERING TORONTO NEIGHBOURHOODS

## PART 1

In [1]:
import pandas as pd

Scraping the  Wikipedia page to obtain the data that is in the table of postal codes, transforming the data into a pandas dataframe:

In [2]:
pip install lxml

Collecting lxml
  Downloading https://files.pythonhosted.org/packages/ec/be/5ab8abdd8663c0386ec2dd595a5bc0e23330a0549b8a91e32f38c20845b6/lxml-4.4.1-cp36-cp36m-manylinux1_x86_64.whl (5.8MB)
     |████████████████████████████████| 5.8MB 28.2MB/s eta 0:00:01
Installing collected packages: lxml
Successfully installed lxml-4.4.1
Note: you may need to restart the kernel to use updated packages.

In [48]:
link='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df=pd.read_html(link, header=0)[0]
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

Ignore cells with a borough that is Not assigned:

In [49]:
df = df[df.Borough != 'Not assigned']
df.reset_index(inplace=True, drop = True)
df.head(12)

   Postcode           Borough     Neighbourhood
0       M3A        North York         Parkwoods
1       M4A        North York  Victoria Village
2       M5A  Downtown Toronto      Harbourfront
3       M5A  Downtown Toronto       Regent Park
4       M6A        North York  Lawrence Heights
5       M6A        North York    Lawrence Manor
6       M7A      Queen's Park      Not assigned
7       M9A         Etobicoke  Islington Avenue
8       M1B       Scarborough             Rouge
9       M1B       Scarborough           Malvern
10      M3B        North York   Don Mills North
11      M4B         East York  Woodbine Gardens

Combine into one row, if rows have the same Postcode and separate Neighbourhoods by comma:

In [50]:
df = df.groupby(['Postcode', 'Borough'], sort = False, as_index = False)['Neighbourhood'].agg(", ".join)
df.head(12)

,Postcode,Borough,Neighbourhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Harbourfront, Regent Park"
3,M6A,North York,"Lawrence Heights, Lawrence Manor"
4,M7A,Queen's Park,Not assigned
5,M9A,Etobicoke,Islington Avenue
6,M1B,Scarborough,"Rouge, Malvern"
7,M3B,North York,Don Mills North
8,M4B,East York,"Woodbine Gardens, Parkview Hill"
9,M5B,Downtown Toronto,"Ryerson, Garden District"
10,M6B,North York,Glencairn
11,M9B,Etobicoke,"Cloverdale, Islington, Martin Grove, Princess ..."

If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough:

In [51]:
df.loc[(df.Neighbourhood == 'Not assigned'), 'Neighbourhood'] = df['Borough']
df.head(6)

  Postcode           Borough                     Neighbourhood
0      M3A        North York                         Parkwoods
1      M4A        North York                  Victoria Village
2      M5A  Downtown Toronto         Harbourfront, Regent Park
3      M6A        North York  Lawrence Heights, Lawrence Manor
4      M7A      Queen's Park                      Queen's Park
5      M9A         Etobicoke                  Islington Avenue

You may check if correct rows exist in my dataframe with the output table by searching like this:

In [52]:
df.loc[(df.Postcode == 'M1B')]

  Postcode      Borough   Neighbourhood
6      M1B  Scarborough  Rouge, Malvern

In the last cell the .shape method is used to print the number of rows of my dataframe:

In [53]:
df.shape

(103, 3)